* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}
#shop {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-around;
}
#pokeCard {
    border: 4px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px;

}